<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$list.name}" lay-verType="tips" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商家</label>
        <div class="layui-input-inline">
            <select name="shopID" default="{$list.shopID}" lay-verify="required" lay-filter="shop">
                <option value="0">不限</option>
                {volist name="shop" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
            <input type="hidden" name="shopName" id="shopName" value="{$vo.shopName}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">注册就送</label>
        <div class="layui-input-inline">
            <input type="radio" name="register" value="1" title="是" {php}if($list['register']==1) echo 'checked';{/php}>
            <input type="radio" name="register" value="0" title="否" {php}if($list['register']==0) echo 'checked';{/php}>
        </div>
    </div>

    <div class="layui-form-item">                   
        <label class="layui-form-label">满</label>
        <div class="layui-input-inline">
            <input type="number" step="0.01" name="full" value="{$list.full|default=0}" lay-verify="required" autocomplete="off" class="layui-input" />
        </div>

        <label class="layui-form-label">减</label>
        <div class="layui-input-inline">
            <input type="number" step="0.01" name="dec" value="{$list.dec}" lay-verify="required" autocomplete="off" class="layui-input" />
        </div>  
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-inline">
            <input type="number" name="number" class="layui-input" value="{$list.number|default=1}" placeholder="必填" lay-verify="number">
        </div>
        <div class="layui-form-mid">每个人最多几张</div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">有效期</label>
        <div class="layui-input-inline">
            <input type="number" name="day" class="layui-input" value="{$list.day}" placeholder="必填" lay-verify="number">
        </div>
        <div class="layui-form-mid">天</div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">绑定商品ID</label>
        <div class="layui-input-block">
            <input type="text" name="goodsID" class="layui-input" value="{$list.goodsID}" placeholder="商品的ID，多个商品请用逗号分隔开，默认为空，所有商品均可用">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">自由领取</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="启用" {php}if($list['status']==1) echo 'checked';{/php}>
            <input type="radio" name="status" value="0" title="禁用" {php}if($list['status']==0) echo 'checked';{/php}>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">使用说明</label>
        <div class="layui-input-block">
            <textarea name="intr" class="layui-textarea" placeholder="选填">{$list.intr}</textarea>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('coupon/pub')}">
    </div>
    <input type="hidden" name="id" value="{$list.id}">
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','form'], function() {    
    var $ = layui.$,form=layui.form;
    $("html").css({"background":"#fff"});

    form.on('select(shop)', function(data){
        var text = data.elem[data.elem.selectedIndex].text;
        if(text=='不限'){
            $("#shopName").val('');
        }else{
            $("#shopName").val(text);
        }
    });
})
</script>