<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">快递名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$list.name}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">单个包裹</label>
        <div class="layui-input-inline">
            <input type="number" step="0.01" name="weight" value="{$list.weight}" lay-verify="required" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">最大kg</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">总金额</label>
        <div class="layui-input-inline">
            <input type="number" name="money" value="{$list.money}" lay-verify="required" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">元</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">平台邮费</label>
        <div class="layui-input-inline">
            <input type="number" step="0.01" name="price" value="{$list.price}" lay-verify="required" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">/kg</div>

        <label class="layui-form-label">物流成本</label>
        <div class="layui-input-inline">
            <input type="number" step="0.01" name="inprice" value="{$list.inprice}" lay-verify="required" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">/(kg or 个)</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">查询网址</label>
        <div class="layui-input-inline" style="width: 400px">
            <input type="text" name="url" value="{$list.url}" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">http开头完整网址</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型</label>
        <div class="layui-input-inline">
            <select name="model" default="{$list.model}" lay-verify="required">
                <option value="">请选择</option>
                {volist name="expressModel" id="vo"}
                <option value="{$vo.value}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">快递描述</label>
        <div class="layui-input-inline" style="width: 400px">
            <input type="text" name="say" value="{$list.say}" autocomplete="off" class="layui-input"/>
        </div>
        <div class="layui-form-mid layui-word-aux">商品详情页的一句话说明</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">详细说明</label>
        <div class="layui-input-block">
            <textarea name="content" id="container" lay-verify="content">{$list.content}</textarea>
        </div>
    </div>  

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('express/pub')}">
    </div>
    <input type="hidden" name="id" value="{$list.id}">
</div>
<script src="{:RES}/tinymce/tinymce.min.js"></script>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','tinymce'], function() {    
    var $ = layui.$,
        tinyConfig = layui.tinymce;

    $("html").css({"background":"#fff"});
    tinymce.init(tinyConfig);

    $("#lay-common-submit").click(function(){
        $("#container").val(tinyMCE.activeEditor.getContent());
    })
})
</script>