<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">城市名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$list.name}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
        </div>

        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-inline">
            <input type="text" name="en" value="{$list.en}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">EWE用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="ewe_username" value="{$list.ewe_username}" lay-verify="required" class="layui-input">
        </div>

        <label class="layui-form-label">EWE密码</label>
        <div class="layui-input-inline">
            <input type="text" name="ewe_password" value="{$list.ewe_password}" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">快递</label>
        <div class="layui-input-block">
            {volist name="express" id="vo"}
            <input type="checkbox" name="expressID[]" value="{$vo.id}" lay-skin="primary" title="{$vo.name}" 
            <?php
            if(in_array($vo['id'],$expID)){
            echo 'checked';
            }
            ?>
            />
            <input type="text" name="address[]" value="{$vo.address}" placeholder="仓库地址" autocomplete="off" class="layui-input" style="margin-top: 5px" />
            {/volist}
        </div>
    </div>            

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('city/pub')}">
    </div>
    <input type="hidden" name="id" value="{$list.id}">
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','form'], function() {    
    var $ = layui.$;
    var form = layui.form;
    $("html").css({"background":"#fff"});
})
</script>