<style type="text/css">
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 0px;
}
.layui-table-cell{height: auto;}
</style>
<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">            
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="order_no" placeholder="订单号" class="layui-input">
            </div>

            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="会员账号/姓名/手机" class="layui-input">
            </div>

            <div class="layui-inline">
                <label class="layui-form-mid">日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="createDate" id="createDate" autocomplete="off" class="layui-input fsDate" dateRange="1" placeholder=" - "/>
                </div>
            </div>

            <div class="layui-input-inline" style="width: 100px">
                <select name="hexiao" id="hexiao">
                    <option value="">状态</option>
                    <option value="1">已核销</option>
                    <option value="0">未核销</option>
                </select>
            </div>

            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div> 
        </div>
    </form>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">   
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">刷新</button>

            <button class="layui-btn layui-btn-sm layui-btn-normal tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('ziti/hexiao')}" alert="1" alertMsg="确定吗？">核销</button>
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('ziti/index')}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <p checkbox="true"/>        
            <p field="memberID" title="会员ID" width="100"/>
            <p field="order_no" title="订单号" width="150"/>
            <p field="name" title="收件人" width="200" templet="#shoujianren"/>
            <p field="sender" title="商铺" width="200" templet="#fajianren"/>
            <p title="核销" width="100" templet="#status"/>
            <p title="状态" width="100" templet="#status1"/>
            <p field="goods" title="商品" width="200"/>
            <p field="createTime" title="提交日期" width="180"/>
            <p field="updateTime" title="更新日期" width="180"/>
            <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="80"/>
        </div>

        <script type="text/html" id="shoujianren">
            {{d.name}}/{{d.tel}}             
        </script>

        <script type="text/html" id="fajianren">
            {{d.sender}}/{{d.senderTel}}                 
        </script>

        <script type="text/html" id="status">
            {{# if(d.hexiao == 0){ }}
            未核销
            {{# }else{ }}
            <span style="color:blue">已核销</span>
            {{# } }}                
        </script>

        <script type="text/html" id="status1">
            {{# if(d.status == 0){ }}
            未支付
            {{# }else{ }}
            <span style="color:blue">已支付</span>
            {{# } }}                
        </script>

        <script type="text/html" id="barDemo">        
            <a class="layui-btn layui-btn-xs" lay-event="view" url="{:url('order/info')}?id={{d.orderID}}" topWidth="80%" topHeight="80%" topTitle="订单详情" data-tableId="lay-common-table">详情</a>
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','laydate','table','upload'],function(){
    var form = layui.form,
        laydate = layui.laydate,
        table = layui.table,
        upload = layui.upload,
        $ = layui.$;

    laydate.render({
        elem: '#createDate',
        range: true
    });    

    
});
</script>