{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="{:RES}/layui/css/layui.css" media="all">
<link rel="stylesheet" href="{:RES}/style/admin.css" media="all">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="{:config('site.domain')}" target="_blank" title="前台">
                    <i class="layui-icon layui-icon-website"></i>
                </a>
                </li> -->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                    <cite>{:lang('selectLang')}</cite>
                    </a>
                    <dl class="layui-nav-child" style="text-align: center;">
                        <dd layadmin-event="selectLang" data="cn"><a>简体中文</a></dd>
                        <hr>
                        <dd layadmin-event="selectLang" data="en"><a>ENGLISH</a></dd>
                    </dl>
                </li>
                <!-- <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                    <i class="layui-icon layui-icon-notice"></i>                
                    如果有新消息，则显示小圆点
                    <span class="layui-badge-dot"></span>
                    </a>
                </li> -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                    <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                    <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li> -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                    <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                    <cite>{$admin.name}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a lay-href="{:url('user/password')}">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo">
                    <span>{:lang('userCenter')}</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="{:lang('nav-home')}" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>{:lang('nav-home')}</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console">
                                <a lay-href="{:url('setting/index')}">{:lang('nav-info')}</a>
                            </dd>
                        </dl>
                    </li>

                    <li data-name="goods" class="layui-nav-item layui-nav-itemed">
                        <a lay-href="{:url('goods/index')}">
                            <i class="layui-icon layui-icon-cart"></i>
                            <cite>{:lang('nav-goods')}</cite>
                        </a>
                    </li>

                    <li class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="{:lang('nav-finance')}" lay-direction="2">
                        <i class="layui-icon layui-icon-dollar"></i>
                        <cite>{:lang('nav-finance')}</cite>
                        </a>                 
                        <dl class="layui-nav-child">                            
                            <dd>
                                <a href="javascript:;">{:lang('nav-order')}</a>
                                <dl class="layui-nav-child">
                                    <dd><a lay-href="{:url('order/index')}">{:lang('nav-order-all')}</a></dd>
                                    <dd><a lay-href="{:url('order/nopay')}">{:lang('nav-order-nopay')}</a></dd>
                                    <dd><a lay-href="{:url('order/peing')}">{:lang('nav-order-wait')}</a></dd>
                                    <dd><a lay-href="{:url('order/fahuo')}">{:lang('nav-order-send')}</a></dd>
                                    <dd><a lay-href="{:url('order/close')}">{:lang('nav-order-close')}</a></dd>
                                    <dd><a lay-href="{:url('order/cancel')}">{:lang('nav-order-cancel')}</a></dd>
                                </dl>
                            </dd>
                            <dd>
                                <a lay-href="{:url('baoguo/index')}">{:lang('nav-order-zhiyou')}</a>
                            </dd>
                            <dd>
                                <a lay-href="{:url('ziti/index')}">{:lang('nav-order-ziti')}</a>
                            </dd> 
                            <dd>
                                <a lay-href="{:url('report/index')}">销售报表</a>
                            </dd>                                                                       
                        </dl>
                    </li>                        
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">{:lang('nav-tab-local')}</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">{:lang('nav-tab-other')}</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">{:lang('nav-tab-all')}</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="console" lay-attr="{:url('index/console')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="{:url('index/console')}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="{:RES}/layui/layui.js"></script>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use('index');
</script>
</body>
</html>