<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">快递公司</label>
		<div class="layui-form-mid">
			{$list.kuaidi}
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">物流单号</label>
		<div class="layui-input-block">
			<input type="text" name="kdNo" id="kdNo" value="{$list.kdNo}" placeholder="物流单号" lay-verify="required" class="layui-input">
			<p>多个用英文逗号隔开</p>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">电子面单</label>
		<div class="layui-input-inline" style="width: 80%">
			<div class="insert-img" id="insert-img1">
				{volist name="list.eimg" id="vo"}
                <li><img src="{$vo}" /><input type="hidden" name="eimg[]" value="{$vo}" /><i class="layui-icon del-img-btn" data-url="{$vo}">&#x1006;</i></li>
				{/volist}
				<a href="javascript:;" class="insert-btn" id="upload-mult">+</a> 
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">照片</label>
		<div class="layui-input-inline" style="width: 80%">
			<div class="insert-img" id="insert-img">
				{volist name="list.image" id="vo"}
                <li><img src="{$vo}" /><input type="hidden" name="image[]" value="{$vo}" /><i class="layui-icon del-img-btn" data-url="{$vo}">&#x1006;</i></li>
				{/volist}
				<a href="javascript:;" class="insert-btn" id="upload-mult1">+</a>  
			</div>
		</div>
	</div>

	<hr>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
	    <button type="button" id="subBtn" class="layui-btn" url="{:url('order/wuliu')}">保存</button>
	</div>
	<input type="hidden" name="id" id="id" value="{$list.id}">
	<input type="hidden" name="orderID" id="orderID" value="{$list.orderID}">
</form>

<script type="text/javascript" charset="utf-8">
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','myupload'], function() {    
    var $ = layui.$,
    myupload = layui.myupload;
    $("html").css({"background":"#fff"});

    myupload.mult({
        elem : '#upload-mult',
        url : '{:url('upload/image')}',
        ext:'jpg|png|gif|jpeg',
        mime:'image/*',
        size:5120
    });

    myupload.mult({
        elem : '#upload-mult1',
        url : '{:url('upload/image')}',
        ext:'jpg|png|gif|jpeg',
        mime:'image/*',
        size:5120
    });

    $('#subBtn').click(function(){
    	var id = $("#id").val();
    	var kdNo = $("#kdNo").val();
    	var eimg = $("#eimg").val();
    	var orderID = $("#orderID").val();
    	var image = '';
    	$("input[name='image[]']").each(function(index){
    		if (index==0){
    			image = $(this).val()
    		}else{
    			image += ','+$(this).val()
    		}
    	});
    	$("input[name='eimg[]']").each(function(index){
    		if (index==0){
    			eimg = $(this).val()
    		}else{
    			eimg += ','+$(this).val()
    		}
    	});
    	data = {'kdNo':kdNo,'eimg':eimg,'image':image,'orderID':orderID,'id':id};
    	$.post("{:url('order/wuliu')}",data,function(res){
    		if (res.code==1){
    			layer.alert("操作成功",function(){
    				parent.layer.closeAll();
        			parent.location.reload();
    			})
    		}else{
    			layer.alert(res.msg);
    		}
    	});        
    });

    //删除文件
    $("body").on("click",".del-img-btn",function(){
        let data = {path:$(this).attr("data-url")};
        $.post("{:url('admin/delFile')}",data);
        $(this).parent().remove();
    });
})
</script>