<style type="text/css">
.item{background: #f2f2f2; clear: both; overflow: hidden; padding: 10px;}
.charts{width: 100%; height:500px;}
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">统计</div>
            <div class="layui-card-body">          
                <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>注册会员</h3>
                              <p><cite>{$member}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>入驻商家</h3>
                              <p><cite>{$shop}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>有效订单总数</h3>
                              <p><cite>{$order}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>今日交易</h3>
                              <p><cite>{$today}</cite></p>
                            </div>
                        </li>
                    </ul>
                </div>          
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">
                概览
                <div class="layui-btn-group" style="float: right;">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="day">当日</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="week">本周</button>
                    <button type="button" class="layui-btn layui-btn-sm" data-type="month">本月</button>
                </div>
            </div>
            <div class="layui-card-body">          
                <div class="charts" id="myChart"></div>   
            </div>
        </div>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','admin','echarts'],function(){
    var $ = layui.$;
    var options = {      
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c}元"
            },
            xAxis :{
                type : 'category',
                boundaryGap : false,
                data: []
            },
            yAxis :{
                type : 'value'
            },
            series: [{
                name: '数量',
                type: 'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: []
            }]
        };

    getData("month");

    function getData(type){
        $.post('{:url('index/ajax')}',{type:type},function(res){
            options.xAxis.data = res.date.split(",");
            options.series[0].data = res.money;

            let myChart = echarts.init(document.getElementById('myChart'), layui.echartsTheme);
            myChart.setOption(options);
        },'json');
    }

    $(".layui-btn-group button").click(function(){
        $(".layui-btn-group button").addClass("layui-btn-primary");
        $(this).removeClass("layui-btn-primary");
        getData($(this).attr('data-type'));
    })
});
</script>