<style type="text/css">
.item{background: #f2f2f2; clear: both; overflow: hidden; padding: 10px;}
.charts{width: 100%; height:500px;}
</style>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">统计</div>
            <div class="layui-card-body">          
                <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>注册会员</h3>
                              <p><cite>{$member}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>入驻商家</h3>
                              <p><cite>{$shop}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>有效订单总数</h3>
                              <p><cite>{$order}</cite></p>
                            </div>
                        </li>
                        <li class="layui-col-xs3">
                            <div class="layadmin-backlog-body item">
                              <h3>今日交易</h3>
                              <p><cite>{$today}</cite></p>
                            </div>
                        </li>
                    </ul>
                </div>          
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">
                概览
                <div class="layui-btn-group" style="float: right;">
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="day">当日</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" data-type="week">本周</button>
                    <button type="button" class="layui-btn layui-btn-sm" data-type="month">本月</button>
                </div>
            </div>
            <div class="layui-card-body">          
                <div class="charts" id="myChart"></div>   
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <div style="float: left;">商品销量排行</div>
                <form class="layui-form" style="float: right;">
                    <div class="layui-input-inline">
                        <input type="text" name="createDate" id="createDate" autocomplete="off" class="layui-input fsDate" dateRange="1" placeholder="选择日期"/>
                    </div>
                    <div style="float: right; margin-left: 10px">
                        <button class="layui-btn layui-btn-sm" id="myBtn" type="button">查询</button>           
                    </div>
                </form>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="webPhb" lay-filter="webPhb"></table> 
                <script>
                layui.use(['table','element'], function(){
                    var table = layui.table;
                    var element = layui.element;
                    var phbTable = table.render({
                        elem: '#webPhb',
                        url:'{:url('index/phb')}',
                        method:'post',
                        autoSort: false,
                        cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        where: {createDate:$("#createDate").val()},
                        cols: [[
                            {field:'name', title: '商品名称'},
                            {field:'num', width:100, title: '销量',sort:true}
                        ]],
                        done: function(res){
                            return false;
                        },
                        page: {
                            limit:20
                        }
                    });

                    table.on('sort(webPhb)', function(obj){ //
                        phbTable.reload({
                            where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                                field: obj.field //排序字段
                                ,order: obj.type //排序方式
                            }
                        });
                    });

                    $("#myBtn").click(function(){
                        phbTable.reload({
                            where:{createDate:$("#createDate").val()}
                        });
                    })
                });
                </script>
            </div>
        </div>            
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                <div style="float: left;">商品库存排行</div>
                <form class="layui-form" style="float: right;">
                    <div class="layui-input-inline">
                        <input type="text" name="createDate1" id="createDate1" autocomplete="off" class="layui-input fsDate" dateRange="1" placeholder="选择日期"/>
                    </div>
                    <div style="float: right; margin-left: 10px">
                        <button class="layui-btn" id="myBtn1" type="button">查询</button>
                    </div>
                </form>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="shopPhb" lay-filter="shopPhb"></table> 
                <script>
                layui.use(['table','element'], function(){
                    var table = layui.table;
                    var element = layui.element;
                    var shopTable = table.render({
                        elem: '#shopPhb',
                        url:'{:url('index/shopphb')}',
                        method:'post',
                        autoSort: false,
                        cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                        where: {createDate:$("#createDate").val()},
                        cols: [[
                            {field:'name', title: '商品名称'},
                            {field:'num', width:100, title: '销量',sort:true}
                        ]],
                        done: function(res){
                            return false;
                        },
                        page: {
                            limit:20
                        }
                    });

                    table.on('sort(shopPhb)', function(obj){ //
                        shopTable.reload({
                            where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                                field: obj.field //排序字段
                                ,order: obj.type //排序方式
                            }
                        });
                    });

                    $("#myBtn1").click(function(){
                        shopTable.reload({
                            where:{createDate:$("#createDate1").val()}
                        });
                    })
                });
                </script>
            </div>
        </div>            
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','admin','echarts'],function(){
    var $ = layui.$;
    var options = {      
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c}元"
            },
            xAxis :{
                type : 'category',
                boundaryGap : false,
                data: []
            },
            yAxis :{
                type : 'value'
            },
            series: [{
                name: '数量',
                type: 'line',
                smooth:true,
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data: []
            }]
        };

    getData("month");

    function getData(type){
        $.post('{:url('index/ajax')}',{type:type},function(res){
            options.xAxis.data = res.date.split(",");
            options.series[0].data = res.money;

            let myChart = echarts.init(document.getElementById('myChart'), layui.echartsTheme);
            myChart.setOption(options);
        },'json');
    }

    $(".layui-btn-group button").click(function(){
        $(".layui-btn-group button").addClass("layui-btn-primary");
        $(this).removeClass("layui-btn-primary");
        getData($(this).attr('data-type'));
    })
});
</script>