<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">中文</label>
        <div class="layui-form-mid">{$list.key_name}</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文</label>
        <div class="layui-input-block">
            <input type="text" name="en" value="{$list.en}" lay-verify="required" placeholder="请输入规格英文" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('goodsModel/pubSpecPrice')}">
    </div>
    <input type="hidden" name="key_name" value="{$list.key_name}">
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    
    var $ = layui.$;
    $("html").css({"background":"#fff"});
})
</script>