<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">规格名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" value="{$list.name}" lay-verify="required" placeholder="请输入规格名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">模型</label>
        <div class="layui-input-inline">
            <select name="mID" default="{$list.mID}" lay-verify="required">
                <option value="">请选择</option>
                {volist name="model" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">规格项</label>
        <div class="layui-input-block">
            <textarea name="values" class="layui-textarea">{$list.values}</textarea>
            <p>一行代表一个可选值</p>
            <p style="color: #f00">规格项一旦发生变化，对应该模型的商品参数规格需要重新设置</p>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="sort" value="{$list.sort|default=50}" class="layui-input" value="50" placeholder="必填" lay-verify="number">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('goodsModel/pubSpec')}">
    </div>
    <input type="hidden" name="id" value="{$list.id}">
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    
    var $ = layui.$;
    $("html").css({"background":"#fff"});
})
</script>