<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-tab" style="margin-bottom: 10px">
                <ul class="layui-tab-title">
                    {foreach name="group_list" item="vo" key="k"}
                        <a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'basic'"}class="layui-this"{/if}>{$vo}</li></a>
                    {/foreach}
                </ul>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">应用名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" value="{$config.name}" lay-verify="required" placeholder="请输入网站名称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Title</label>
                <div class="layui-input-block">
                    <input type="text" name="title" value="{$config.title}" lay-verify="required" placeholder="请输入Title" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">LOGO</label>
                <div class="layui-inline">
                    <img class="thumb" id="logo_src" src="{eq name="config.logo" value=""}{:RES}/image/image.jpg{else/}{$config.logo}{/eq}" />
                    <input type="hidden" name="logo" id="logo" value="{$config.logo}"/>    
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="upload-single">上传图片</button>
                    <input type="button" value="删除" class="layui-btn layui-btn-small" onclick="delImage('logo')"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">系统状态</label>
                <div class="layui-input-block">             
                    <input type="radio" name="isClose" value="0" title="开启" <?php if($config['isClose']==='0')echo 'checked'; ?>>   
                    <input type="radio" name="isClose" value="1" title="关闭" <?php if($config['isClose']==='1')echo 'checked'; ?>>           
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关闭时信息</label>
                <div class="layui-input-block">
                    <input type="text" name="closeInfo" value="{$config.closeInfo}" lay-verify="required" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网址</label>
                <div class="layui-input-block">
                    <input type="text" name="domain" value="{$config.domain}" lay-verify="url" placeholder="请输入网址" class="layui-input">
                </div>
            </div>  

            <div class="layui-form-item">
                <label class="layui-form-label">版权所有</label>
                <div class="layui-input-block">
                    <input type="text" name="copyright" value="{$config.copyright}" lay-verify="required" placeholder="请输入公司或单位名称" class="layui-input">
                </div>
            </div>      

            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" value="{$config.tel}" placeholder="请输入网址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address" value="{$config.address}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">信箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" value="{$config.email}" class="layui-input">
                </div>
            </div>  

            <div class="layui-form-item">
                <label class="layui-form-label">微信</label>
                <div class="layui-input-block">
                    <input type="text" name="weixin" value="{$config.weixin}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">微博</label>
                <div class="layui-input-block">
                    <input type="text" name="weibo" value="{$config.weibo}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                    <input type="text" name="keywords" value="{$config.keywords}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea name="description" class="layui-textarea">{$config.description}</textarea>
                    <p>一般不超过200个字</p>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="lay-common-submit"  url="{:url('Setting/insert')}">保存</button>
            </div>
            <input type="hidden" name="inc_type" value="{$inc_type}">
        </form>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','myupload'], function() {    
    var $ = layui.$,
        myupload = layui.myupload;
    myupload.single({
        elem : '#upload-single',
        url : '{:url('upload/image')}',
        ext:'jpg|png|gif|jpeg',
        mime:'image/*',
        size:5120,
        tag : '#logo'
    }); 
})
</script>