<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-tab" style="margin-bottom: 10px">
                <ul class="layui-tab-title">
                    {foreach name="group_list" item="vo" key="k"}
                        <a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'kuaidi'"}class="layui-this"{/if}>{$vo}</li></a>
                    {/foreach}
                </ul>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">红酒快递</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="kuaidi12" value="{$config.kuaidi12}" placeholder="名称" class="layui-input">
                </div>

                <label class="layui-form-label">运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price12" value="{$config.price12}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice12" value="{$config.inprice12}" placeholder="请输入成本" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice12" value="{$config.otherPrice12}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">查询网址</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="url12" value="{$config.url12}" lay-verify="url" placeholder="请输入网址" class="layui-input">
                </div>
            </div>  

            <div class="layui-form-item">
                <label class="layui-form-label">面单快递</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="kuaidi13" value="{$config.kuaidi13}" placeholder="名称" class="layui-input">
                </div>

                <label class="layui-form-label">运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price13" value="{$config.price13}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice13" value="{$config.inprice13}" placeholder="请输入成本" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice13" value="{$config.otherPrice13}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">查询网址</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="url13" value="{$config.url13}" lay-verify="url" placeholder="请输入网址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">生鲜快递</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="kuaidi14" value="{$config.kuaidi14}" placeholder="名称" class="layui-input">
                </div>

                <label class="layui-form-label">运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price14" value="{$config.price14}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice14" value="{$config.inprice14}" placeholder="请输入成本" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice14" value="{$config.otherPrice14}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">查询网址</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="url14" value="{$config.url14}" lay-verify="url" placeholder="请输入网址" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">澳邮运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price1" value="{$config.price1}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice1" value="{$config.inprice1}" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice1" value="{$config.otherPrice1}" placeholder="请输入运费" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">中邮运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price2" value="{$config.price2}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice2" value="{$config.inprice2}" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice2" value="{$config.otherPrice2}" placeholder="请输入运费" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">中环运费</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="price3" value="{$config.price3}" placeholder="请输入运费" class="layui-input">
                </div>

                <label class="layui-form-label">成本</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="inprice3" value="{$config.inprice3}" class="layui-input">
                </div>

                <label class="layui-form-label">偏远加收</label>
                <div class="layui-input-inline" style="width: 100px">
                    <input type="text" name="otherPrice3" value="{$config.otherPrice3}" placeholder="请输入运费" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="lay-common-submit"  url="{:url('Setting/insert')}">保存</button>
            </div>
            <input type="hidden" name="inc_type" value="{$inc_type}">
        </form>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    

})
</script>