<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-tab" style="margin-bottom: 10px">
                <ul class="layui-tab-title">
                    {foreach name="group_list" item="vo" key="k"}
                        <a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'kuaidi'"}class="layui-this"{/if}>{$vo}</li></a>
                    {/foreach}
                </ul>
            </div>

            <fieldset class="layui-elem-field layui-field-title"><legend style="font-size: 16px;">EWE</legend></fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="ewe_username" value="{$config.ewe_username}" class="layui-input">
                </div>

                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="ewe_password" value="{$config.ewe_password}" class="layui-input">
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title"><legend style="font-size: 16px;">4PX</legend></fieldset>

            <div class="layui-form-item">
                <label class="layui-form-label">Token</label>
                <div class="layui-input-block">
                    <input type="text" name="px_token" value="{$config.px_token}" class="layui-input">
                </div>
            </div>
            

            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="lay-common-submit"  url="{:url('Setting/insert')}">保存</button>
            </div>
            <input type="hidden" name="inc_type" value="{$inc_type}">
        </form>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    

})
</script>