<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
			<div class="layui-tab" style="margin-bottom: 10px">
				<ul class="layui-tab-title">
					{foreach name="group_list" item="vo" key="k"}
		         		<a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'weixin'"}class="layui-this"{/if}>{$vo}</li></a>
		         	{/foreach}
				</ul>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">TOKEN</label>
				<div class="layui-input-block">
					<input type="text" name="APP_TOKEN" value="{$config.APP_TOKEN}" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">APP_ID</label>
				<div class="layui-input-block">
					<input type="text" name="APP_ID" value="{$config.APP_ID}" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">APP_SECRET</label>
				<div class="layui-input-block">
					<input type="text" name="APP_SECRET" value="{$config.APP_SECRET}" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">支付秘钥</label>
				<div class="layui-input-block">
					<input type="text" name="MCH_KEY" value="{$config.MCH_KEY}" class="layui-input">
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">商户号</label>
				<div class="layui-input-block">
					<input type="text" name="MCH_ID" value="{$config.MCH_ID}" class="layui-input">
				</div>
			</div>

			<hr>

			<div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="lay-common-submit"  url="{:url('Setting/insert')}">保存</button>
            </div>
            <input type="hidden" name="inc_type" value="{$inc_type}">
		</form>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    
    var $ = layui.$;

})
</script>