{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>邮件</title>
<style>
.title{font-size: 16px; font-weight: bold; padding: 10px 0}
.intr{font-size: 12px;}
table{border-collapse: collapse;border: none;width:100%;}
td{border: solid #CCC 1px; padding: 5px; font-size: 14px}
</style>
</head>
<body>
<p>Hi Penfolds,</p>
<p>Please find settlement report for last week</p>
<p>This settlement may take 2-3 business days to get through.</p>
<p>If you have any concerns, please feel free to contact me.</p>
<p>Thank you for your business.</p>
<p>Best Regards.</p>

<div class="title">Order information</div>
<table>
	<tr>
		<td style="width: 150px">Date</td>
		<td>Order ID</td>
		<td>Type</td>
		<td>User ID</td>
		<td>Description</td>
		<td>QTY</td>
		<td>UP</td>
		<td>TP</td>
		<td>MSTL</td>
		<td>Rate</td>
		<td>Domestic freight fee</td>
	</tr>	
</table>

<div class="title">包裹</div>
{volist name="baoguo" id="vo"}
<table>
	<tr>
		<td style="width: 150px">快递单号</td>
		<td style="width: 100px">类型</td>
		<td>Item Detail</td>
		<td>仓库地址</td>
	</tr>
	<tr>
		<td>{$vo.kdNo}</td>
		<td>{eq name="expressID" value="0"}自提{else/}直邮{/eq}</td>
		<td>
			{volist name="vo.goods" id="f"}
			<p>{$f.name} * {$f.number}</p>
			{/volist}
		</td>
		<td>{$vo.address}</td>
	</tr>
</table>
{/volist}

<div class="title">Commodity details</div>
<table>
	<tr>
		<td style="width: 150px">Disbursement Date</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Delivery QTY</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Delivery Amount</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Pick-up QTY</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Pick-up Amount</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Subtotal</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Domestic freight</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Adjustments</td>
		<td></td>
	</tr>
	<tr>
		<td style="width: 150px">Settlement Amount</td>
		<td></td>
	</tr>
</table>


<div class="title">Adjustment Report</div>
<table>
	<tr>
		<td style="width: 150px">Order ID</td>
		<td>Date</td>
		<td>Amount</td>
		<td>Remarks</td>
	</tr>
	<tr>
		<td>{$order.order_no}</td>
		<td>{$order.createTime|date="d/m/Y",###}</td>
		<td>{$coupon.name} {$coupon.desc}</td>
		<td>{$coupon.name} {$coupon.desc}</td>
	</tr>
</table>


<p>Please login to Merchant's protal to see more details</p>
<p>http://www.tourbuy.net/shop</p>
</body>
</html>