{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>邮件</title>
<style>
.title{font-size: 16px; font-weight: bold; padding: 10px 0}
.intr{font-size: 12px;}
table{border-collapse: collapse;border: none;width:100%;}
td{border: solid #CCC 1px; padding: 5px; font-size: 14px}
</style>
</head>
<body>
<p>Hi {$shop.name},</p>
<p>Please find settlement report for last week</p>
<p>This settlement may take 2-3 business days to get through.</p>
<p>If you have any concerns, please feel free to contact me.</p>
<p>Thank you for your business.</p>
<p>Best Regards.</p>

<div class="title">Order information</div>
<table>
	<tr>
		<td style="width: 150px">Date</td>
		<td>Order ID</td>
		<td>Type</td>
		<td>User ID</td>
		<td>Description</td>
		<td>QTY</td>
		<td>UP</td>
		<td>TP</td>
		<td>MSTL</td>
		<td>Rate</td>
		<td>Domestic freight fee</td>
	</tr>	
	{volist name="order" id="vo"}
	{volist name="vo.goods" id="item" key="k"}
	<tr>
		{eq name="k" value="1"}
		<td rowspan="<?php echo count($vo['goods']);?>">{$vo.createTime|date="d/m/Y",###}</td>
		<td rowspan="<?php echo count($vo['goods']);?>">{$vo.order_no}</td>
		<td rowspan="<?php echo count($vo['goods']);?>">{eq name="vo.quhuoType" value="0"}Delivery{else/}Pick-up{/eq}</td>
		<td rowspan="<?php echo count($vo['goods']);?>">{$vo.memberID}</td>
		{/eq}
		<td>{$item.name}</td>
		<td>{$item.number}</td>
		<td>{$item.jiesuan}</td>
		<td>{$item.jiesuan * $item.trueNumber}</td>
		<td>{$item.inprice * $item.trueNumber}</td>
		<td>{$item.rate}%</td>
		{eq name="k" value="1"}
		<td rowspan="<?php echo count($vo['goods']);?>">{$vo.insideFee}</td>
		{/eq}
	</tr>
	{/volist}
	{/volist}
</table>

<div class="title">Commodity details</div>
<table>
	<tr>
		<td style="width: 150px">Disbursement Date</td>
		<td>{$count.time}</td>
	</tr>
	<tr>
		<td>Delivery QTY</td>
		<td>{$count.zhiyouNumber}</td>
	</tr>
	<tr>
		<td>Delivery Amount</td>
		<td>${$count.zhiyou}</td>
	</tr>
	<tr>
		<td>Pick-up QTY</td>
		<td>{$count.zitiNumber}</td>
	</tr>
	<tr>
		<td>Pick-up Amount</td>
		<td>${$count.ziti}</td>
	</tr>
	<tr>
		<td>Subtotal</td>
		<td>${$count.money}</td>
	</tr>
	<tr>
		<td>Domestic freight</td>
		<td>${$count.insideFee}</td>
	</tr>
	<tr>
		<td style="color: #f00">Adjustments</td>
		<td style="color: #f00">-${$count.discount}</td>
	</tr>
	<tr>
		<td>Settlement Amount</td>
		<td>${$count.total}</td>
	</tr>
</table>


<div class="title">Adjustment Report</div>
<table>
	<tr>
		<td style="width: 150px">Order ID</td>
		<td>Date</td>
		<td>Amount</td>
		<td>Remarks</td>
	</tr>
	{volist name="order" id="vo"}
	{notempty name="vo.coupon"}
	<tr>
		<td>{$vo.order_no}</td>
		<td>{$vo.coupon.createTime|date="d/m/Y",###}</td>
		<td>{$vo.coupon.desc}</td>
		<td>{$vo.coupon.name} {$vo.coupon.desc}</td>
	</tr>
	{/notempty}
	{/volist}
</table>


<p>Please login to Merchant's protal to see more details</p>
<p>http://www.tourbuy.net/shop</p>
</body>
</html>