<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">

            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="店铺名称" class="layui-input layui-btn-small">
            </div>

            <label class="layui-form-mid">结算日期</label>
            <div class="layui-input-inline">
                <input type="text" name="createDate" id="createDate" autocomplete="off" class="layui-input" placeholder=" - "/>
            </div> 

            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
                       
        </div>
    </form>
        
    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <button class="layui-btn layui-btn-sm layui-btn-normal tools-btn" data-type="add" data-tableId="lay-common-table" url="{:url('settlement/pub')}" topWidth="80%" topHeight="80%" topTitle="结算">结算</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">刷新</button>
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('settlement/index')}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <p checkbox="true"/>                  
            <p field="startDate" title="开始日期" width="120" />      
            <p field="endDate" title="截止日期" width="120" />  
            <p field="name" title="店铺" width="200"/>     
            <p field="total" title="结算金额" width="90"/>            
            <p field="money" title="订单金额" width="90"/>            
            <p field="insideFee" title="境内运费" width="90"/>            
            <p field="discount" title="优惠券" width="90"/>            
            <p field="createTime" title="创建日期" width="180" sort="true"/>
            <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="80"/>
        </div>
        <script type="text/html" id="barDemo">        
            <a class="layui-btn layui-btn-xs" target="_blank" href="{:url('settlement/view')}?id={{d.id}}">详情</a>
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','table'],function(){
    var form = layui.form, $ = layui.$;
    $("#jisuan").click(function(){
        var load = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        $.get('{:url("settlement/jisuan")}',function(res){
            layer.close(load);
            layer.alert("当前返利总金额"+res.total+"元");
        },'json')
    })
});
</script>