<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="{:RES}/layui/css/layui.css" media="all">
<link rel="stylesheet" href="{:RES}/style/admin.css" media="all">
<link rel="stylesheet" href="{:RES}/style/login.css" media="all">
</head>
<body>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">

        <div class="layadmin-user-login-header">
            <h2>{:lang('APPNAME')}</h2>
        </div>

        <form class=" layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="{:lang('username')}" class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" lay-verify="required" placeholder="{:lang('password')}" class="layui-input">
            </div>

            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                        <input type="text" name="checkcode" lay-verify="required" placeholder="{:lang('checkcode')}" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;"><img src="{:url('Login/verify')}" class="layadmin-user-login-codeimg" id="lay-get-vercode" url="{:url('Login/verify')}"></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="lay-common-submit" url="{:url('Login/doLogin')}">{:lang('loginBtn')}</button>
            </div>
        </form>
    </div>
</div>
<script src="{:RES}/layui/layui.js"></script>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index', 'user'], function() {
    var $ = layui.$,
        setter = layui.setter,
        admin = layui.admin,
        form = layui.form,
        router = layui.router(),
        search = router.search;

    form.render();
});
</script>
</body>

</html>