<div class="layui-card">
    <div class="layui-card-body">
        <div style="padding-bottom: 10px;"> 
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="add" data-tableId="lay-common-table" url="{:url('shop/write','shopID='.$shopID)}" topWidth="700px" topHeight="500px" topTitle="新增">添加</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">刷新</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('shop/checkComment')}">审核</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('shop/delComment')}" alert="1" alertMsg="删除后无法恢复，确定吗？">删除</button>
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('shop/comment','shopID='.$shopID)}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <p checkbox="true"/>                
            <p field="id" title="ID" width="80"/>
            <p title="状态" width="100" templet="#status"/>
            <p field="headimg" title="头像" width="100" templet="#face"/>
            <p field="nickname" title="昵称" width="150"/>    
            <p field="content" title="评论" width="300"/>
            <p field="images" title="晒图" width="200"/>
            <p field="createTime" title="创建时间" width="180"/>
        </div>

        <script type="text/html" id="face">
            {{# if(d.headimg == ''){ }}
            -
            {{# }else{ }}
            <img src="{{d.headimg}}" style="height:40px"/>
            {{# } }}                
        </script>   

        <script type="text/html" id="status">                   
            {{# if(d.status==1){ }}
            已审
            {{# }else{ }}
            <span style="color:red">待审</span>
            {{# } }}
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'],function(){

});
</script>