<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="keyword" autocomplete="off" placeholder="{:lang('goods-name')}" class="layui-input"/>
                </div>
            </div>
            
            <div class="layui-inline">
                <label class="layui-form-mid">{:lang('category')}</label>
                <div class="layui-input-inline">
                    <select name="path" id="path">
                        <option value="">--{:lang('select')}--</option>
                        {volist name="cate" id="vo"}
                        <option value='{$vo['path']}'>{php}
                            for($i=0; $i<$vo['count']*2; $i++){
                               echo '&nbsp;&nbsp;';            
                            }
                        {/php}{$vo['name']}</option>
                        {/volist}
                    </select>               
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-mid">{:lang('status')}</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option value="">--{:lang('select')}--</option>
                        <option value="1">{:lang('show')}</option>
                        <option value="0">{:lang('hide')}</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">{:lang('refresh')}</button>

            {eq name="admin.submit" value="1"}
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="add" data-tableId="lay-common-table" url="{:url('goods/pub')}" topWidth="80%" topHeight="80%" topTitle="{:lang('add')}">{:lang('add')}</button>

            <button class="layui-btn layui-btn-sm layui-btn-danger tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('goods/del')}">{:lang('delete')}</button>
            {/eq}
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('goods/index')}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <p checkbox="true"/>                
            <p field="id" title="ID" width="80"/>
            <p field="show" title="{:lang('status')}" width="60" templet="#goodsShow"/>
            <p field="name" title="{:lang('goods-name')}" width="250"/>
            <p field="en" title="{:lang('goods-en')}" width="200"/>
            <p field="short" title="{:lang('goods-short-name')}" width="150" templet="#short"/>
            <p field="cate" title="{:lang('category')}" width="150"/>
            <p field="brand" title="{:lang('goods-brand')}" width="150"/>            
            <p title="{:lang('goods-ziti')}" width="60" templet="#ziti"/>            
            <p title="{:lang('goods-baoyou')}" width="60" templet="#baoyou"/>            
            <p field="price" title="{:lang('goods-price')}" width="80"/>
            <p field="inprice" title="{:lang('goods-inprice')}" width="80"/>
            <p field="point" title="{:lang('goods-point')}" width="80"/> 
            <p field="weight" title="{:lang('goods-weight')}" width="80"/>
            <p field="stock" title="{:lang('goods-stock')}" width="80"/>
            <p title="{:lang('goods-tag')}" width="90" templet="#flagTpl"/> 
            {eq name="admin.submit" value="1"}           
            <p fixed="right" align="center" toolbar="#barDemo" title="{:lang('action')}" width="80"/>
            {/eq}
        </div>

        <script type="text/html" id="flagTpl">
            {{# if(d.flash == 1){ }}
            <span style="color:green">抢</span>      
            {{# } }}
            {{# if(d.comm == 1){ }}
            <span style="color:blue">荐</span>       
            {{# } }}
            {{# if(d.jingpin == 1){ }}
            <span style="color:#0099FF">精</span>        
            {{# } }} 
            {{# if(d.tehui == 1){ }}
            <span style="color:red">惠</span>        
            {{# } }}               
        </script>

        <script type="text/html" id="baoyou">
        {{# if(d.baoyou==1){ }}
        <i class="layui-icon layui-icon-ok"></i>
        {{# } }}
        </script>

        <script type="text/html" id="ziti">
        {{# if(d.ziti==1){ }}
        <i class="layui-icon layui-icon-ok"></i>
        {{# } }}
        </script>

        <script type="text/html" id="goodsShow">
        {{# if(d.show==1){ }}
        {:lang('show')}
        {{# }else{ }}
        <span style="color: #f00">{:lang('hide')}</span>
        {{# } }}
        </script>
        
        <script type="text/html" id="barDemo">
            {eq name="admin.submit" value="1"}
            <a class="layui-btn layui-btn-xs" lay-event="edit" url="{:url('goods/pub')}?id={{d.id}}" topWidth="80%" topHeight="80%" topTitle="{:lang('edit')}" data-tableId="lay-common-table">{:lang('edit')}</a>            
            {/eq}
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'],function(){

});
</script>