<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">

    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">{:lang('tab-base')}</li>
            <li>{:lang('tab-album')}</li>
            <li>{:lang('tab-taocan')}</li>
            <li>{:lang('tab-spec')}</li>
        </ul>
        <div class="layui-tab-content">
            <!--基本信息-->
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-name')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" value="{$list.name}" lay-verify="required" placeholder="{:lang('enter-goods-name')}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-en')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="en" value="{$list.en}" lay-verify="required" placeholder="{:lang('enter-goods-en')}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-express')}</label>
                    <div class="layui-input-inline">
                        <select name="expressID" id="expressID" default="{$list.expressID}" lay-verify="required" lay-filter="express">
                            <option value="">{:lang('select')}</option>
                            {volist name="express" id="vo"}
                            <option value="{$vo.id}" data-model="{$vo.model}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>

                    <label class="layui-form-label">{:lang('goods-package')}</label>
                    <div class="layui-input-inline">
                        <select name="typeID" id="typeID" default="{$list.typeID}">
                            {volist name="type" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-short-name')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="short" value="{$list.short}" lay-verify="required" placeholder="20{:lang('goods-size')}" maxlength="20" class="layui-input">
                    </div>

                    <label class="layui-form-label">{:lang('goods-tese')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="say" value="{$list.say}" placeholder="15{:lang('goods-size')}" maxlength="15" class="layui-input">
                    </div>

                    <label class="layui-form-label">{:lang('goods-specification')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="specification" value="{$list.specification}" placeholder="按物流要求填写" maxlength="15" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">{:lang('goods-hongjiu')}</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-keyword')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="keyword" value="{$list.keyword}" class="layui-input">
                    </div>
                </div>  

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-intr')}</label>
                    <div class="layui-input-block">
                        <input type="text" name="intr" value="{$list.intr}" placeholder="一句话描述商品" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">{:lang('goods-cover')}</label>
                    <div class="layui-input-inline" style="width:400px">
                        <input type="text" id="picname" name="picname" value="{$list.picname}" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" id="upload-single">{:lang('upload')}</button>
                        Size:{:config('image_size')}M
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-cate1')}</label>
                    <div class="layui-input-inline">
                        <select name="cid" id="cid" {gt name="list.cid" value="0"}default="{$list['cid']},{$list['path']}"{/gt} lay-verify="required">
                        <option value="">{:lang('select')}</option>
                        {volist name="cate" id="vo"}
                        <option value="{$vo['id']},{$vo['path']}">{php}
                            for($i=0; $i<$vo['count']*2; $i++){
                               echo '&nbsp;&nbsp;';            
                            }
                        {/php}{$vo['name']}</option>
                        {/volist}
                        </select>
                    </div>
                    <label class="layui-form-label">{:lang('goods-cate2')}</label>
                    <div class="layui-input-inline">
                        <select name="cid1" id="cid1" {gt name="list.cid1" value="0"}default="{$list['cid1']},{$list['path1']}"{/gt}>
                        <option value="">{:lang('select')}</option>
                        {volist name="cate" id="vo"}
                        <option value="{$vo['id']},{$vo['path']}">{php}
                            for($i=0; $i<$vo['count']*2; $i++){
                               echo '&nbsp;&nbsp;';            
                            }
                        {/php}{$vo['name']}</option>
                        {/volist}
                        </select>
                    </div>

                    <label class="layui-form-label">{:lang('sort')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sort" id="sort" value="{$list.sort|default=50}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-brand')}</label>
                    <div class="layui-input-inline">
                        <select name="brandID" default="{$list.brandID}" lay-verify="required">
                            <option value="">{:lang('select')}</option>
                            {volist name="brand" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-tag')}</label>
                    <div class="layui-input-block">  
                        <input type="checkbox" name="comm" value="1" lay-skin="primary" title="推荐" {php}if($list['comm']=='1')echo 'checked';{/php}>  
                        <input type="checkbox" name="jingpin" value="1" lay-skin="primary" title="精品" {php}if($list['jingpin']=='1')echo 'checked';{/php}>            
                        <input type="checkbox" name="tehui" value="1" lay-skin="primary" title="特惠" {php}if($list['tehui']=='1')echo 'checked';{/php}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-baoyou')}</label>
                    <div class="layui-input-inline">         
                        <input type="radio" name="baoyou" value="1" title="{:lang('yes')}" {php}if($list['baoyou']==1) echo 'checked';{/php}>
                        <input type="radio" name="baoyou" value="0" title="{:lang('no')}" {php}if($list['baoyou']==0) echo 'checked';{/php}>
                    </div>
                    <label class="layui-form-label">{:lang('goods-must-ziti')}</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="ziti" value="1" title="{:lang('yes')}" {php}if($list['ziti']==1) echo 'checked';{/php}>
                        <input type="radio" name="ziti" value="0" title="{:lang('no')}" {php}if($list['ziti']==0) echo 'checked';{/php}>
                    </div>  
                </div>      

                <div class="layui-form-item"> 
                    <!-- <label class="layui-form-label">售价</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" name="price" id="price" value="{$list.price}" lay-verify="required" autocomplete="off" class="layui-input" />
                    </div> --> 
                    
                    
                    <label class="layui-form-label">{:lang('goods-shop-price')}</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" name="jiesuan" id="jiesuan" value="{$list.jiesuan}" lay-verify="required" autocomplete="off" class="layui-input" />
                    </div>
                
                    <!-- <label class="layui-form-label">服务费</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" name="servePrice" id="servePrice" value="{$list.servePrice}" lay-verify="required" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">%</div>
                
                    <label class="layui-form-label">进价</label>
                    <div class="layui-input-inline" style="width: 100px">
                        <input type="text" name="inprice" id="inprice" value="{$list.inprice}" lay-verify="required" autocomplete="off" class="layui-input" readonly="readonly" />
                    </div> -->
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-single')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" id="number" value="{$list.number|default=1}" class="layui-input" lay-verify="required">
                    </div>
                    <!--
                    <label class="layui-form-label">税率</label>
                    <div class="layui-input-inline">
                        <input type="text" name="gst" id="gst" value="{$list.gst|default=0}" class="layui-input" lay-verify="required">
                    </div>
                    <div class="layui-form-mid layui-word-aux">%</div> -->
                </div>

                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">购物积分</label>
                    <div class="layui-input-inline">
                        <input type="text" name="point" id="point" value="{$list.point|default=0}" class="layui-input" lay-verify="required">
                    </div>
                    <label class="layui-form-label">分销积分</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tjPoint" id="tjPoint" value="{$list.tjPoint|default=0}" class="layui-input" lay-verify="required">
                    </div>
                </div> -->

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-weight')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="weight" id="weight" value="{$list.weight}" lay-verify="required" autocomplete="off" class="layui-input" />
                    </div>

                    <label class="layui-form-label">{:lang('goods-express-weight')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="wuliuWeight" id="wuliuWeight" value="{$list.wuliuWeight}" lay-verify="required" autocomplete="off" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-end-date')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endDate" id="endDate" value="{$list.endDate}" class="layui-input">
                    </div>

                    <label class="layui-form-label">{:lang('goods-sell-number')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sellNumber" value="{$list.sellNumber|default=0}" class="layui-input">
                    </div>

                    <label class="layui-form-label">{:lang('goods-stock')}</label>
                    <div class="layui-input-inline">
                        <input type="text" name="stock" id="stock" value="{$list.stock|default=999}" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('content')}</label>
                    <div class="layui-input-block">
                        <textarea name="content" id="container" lay-verify="content">{$list.content}</textarea>
                    </div>
                </div>
            </div>

            <!--相册-->
            <div class="layui-tab-item">
                <div class="insert-img" id="insert-img">
                    {volist name="image" id="vo"}
                    <li><img src="{$vo}" /><input type="hidden" name="image[]" value="{$vo}" /><i class="layui-icon del-img-btn" data-url="{$vo}">&#x1006;</i></li>
                    {/volist}
                    <a href="javascript:;" class="insert-btn" id="upload-mult">+</a> 
                </div>
                <p>Size:{:config('image_size')}M</p>
            </div>
            
            <!--套餐-->
            <div class="layui-tab-item">                
                <table class="layui-table">        
                    <tbody id="packBox">
                        <tr>
                            <td><b>{:lang('goods-name')}</b></td>
                            <td style="width: 80px"><b>{:lang('goods-price')}</b></td>
                            <td style="width: 80px"><b>{:lang('goods-single')}</b></td>
                            <td style="width: 60px"><a href="javascript:void(0)" class="layui-btn layui-btn-normal layui-btn-xs" id="addBtn">{:lang('add')}</a></td>
                        </tr>
                        {volist name="pack" id="vo"}
                        <tr>                        
                        <td><input type="hidden" name="pack_id[]" value="{$vo.id}"><input type="text" name="pack_name[]" value="{$vo.name}" lay-verify="required" class="layui-input"></td> 
                        <td><input type="text" name="pack_price[]" value="{$vo.price}" lay-verify="required" class="layui-input" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"></td>  
                        <td><input type="text" name="pack_number[]" value="{$vo.number}" lay-verify="required" class="layui-input" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"></td> 
                        <td><a href="javascript:void(0)" data-id="{$vo.id}" class="layui-btn layui-btn-primary layui-btn-xs del-pack-btn"><i class="layui-icon layui-icon-delete"></i> {:lang('delete')}</a></td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>

            <!--参数规格-->
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('goods-model')}</label>
                    <div class="layui-input-inline">
                        <select name="modelID" id="modelID" default="{$list.modelID}" lay-filter="goodsModel">
                            <option value="">{:lang('nothing')}</option>
                            {volist name="model" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md12" id="ajax_spec_data" style="padding-right:20px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('goods/pub')}">
    </div>
    <input type="hidden" name="id" id="id" value="{$list.id}">
</div>
<script src="{:RES}/tinymce/tinymce.min.js"></script>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','myupload','form','tinymce','table'], function() {    
    var flag = {$flag};
    var $ = layui.$,
        table = layui.table,
        form = layui.form,
        upload = layui.upload,
        myupload = layui.myupload,
        tinyConfig = layui.tinymce;

    $("html").css({"background":"#fff"});
    tinymce.init(tinyConfig);


    $("#servePrice").on("input propertychange",function(){
        setInprice();
    });
    $("#jiesuan").on("input propertychange",function(){
        setInprice();
    });
    function setInprice(){
        var jiesuan = $("#jiesuan").val();
        var servePrice = $("#servePrice").val();
        if(jiesuan!='' && servePrice!=''){
            inprice = (jiesuan *(100-servePrice) / 100);
            $("#inprice").val(inprice.toFixed(2));
        }
    };

    form.on('select(express)', function(data){
        var model = data.elem[data.elem.selectedIndex].getAttribute('data-model');
        _html = '<option value=""></option>';
        if(model){
            var data = {model:model};
            $.post('{:url('goods/getGoodsType')}',data,function(res){                
                for(var i=0; i<res.data.length; i++){
                    _html += '<option value="'+res.data[i]['id']+'">'+res.data[i]['name']+'</option>';
                }
                $("#typeID").html(_html);
                form.render();
            },'json');
        }
    });

    if(flag == 1){
        layer.alert("友情提示：该商品正在抢购活动中，修改价格会引起数据紊乱");
    }

    $("#lay-common-submit").click(function(){
        $("#container").val(tinyMCE.activeEditor.getContent());
    })

    myupload.single({
        elem : '#upload-single',
        url : '{:url('upload/image')}',
        ext:'jpg|png|gif|jpeg',
        mime:'image/*',
        size:5120,
        tag : '#picname'
    }); 

    myupload.mult({
        elem : '#upload-mult',
        url : '{:url('upload/image')}',
        ext:'jpg|png|gif|jpeg',
        mime:'image/*',
        size:5120
    });   

    //删除文件
    $("body").on("click",".del-img-btn",function(){
        let data = {path:$(this).attr("data-url")};
        $.post("{:url('admin/delFile')}",data);
        $(this).parent().remove();
    });

    //商品套餐
    $("#addBtn").click(function(){
        $.get('{:url('goods/getPack')}',function(res){
            $("#packBox").append(res);
            form.render();
        })
    })

    $("body").on("click",".del-pack-btn",function(){
        $(this).parent().parent().remove();
        let data = {id:$(this).attr("data-id")};
        $.post("{:url('goods/delPack')}",data);
        $(this).parent().remove();
    });
    //套餐end

    //参数规格start
    form.on('select(goodsModel)', function(data){
        var goods_id = '{$list.id}';
        var spec_type = data.value;
        $.ajax({
            type: 'GET',
            data: {
                goods_id: goods_id,
                spec_type: spec_type
            },
            url: "{:url('Goods/ajaxGetSpecSelect')}",
            success: function(data) {
                $("#ajax_spec_data").html(data);
                form.render();  
                ajaxGetSpecInput(); // 触发完  马上触发 规格输入框
            }
        });
        $("#ajax_spec_data").on("click", ".specBtn", function() {
            if ($(this).hasClass("layui-btn-primary")){
                $(this).removeClass("layui-btn-primary");
            }else{
                $(this).addClass("layui-btn-primary");
            }
            ajaxGetSpecInput();
        })
    });

    {gt name="list['modelID']" value="0"}
    $(function(){
        var goods_id = '{$list.id}';
        var spec_type = '{$list.modelID}';
        $.ajax({
            type: 'GET',
            data: {
                goods_id: goods_id,
                spec_type: spec_type
            },
            url: "{:url('Goods/ajaxGetSpecSelect')}",
            success: function(data) {
                $("#ajax_spec_data").html(data);
                form.render();  
                ajaxGetSpecInput(); // 触发完  马上触发 规格输入框
            }
        });
        $("#ajax_spec_data").on("click", ".specBtn", function() {
            if ($(this).hasClass("layui-btn-primary")){
                $(this).removeClass("layui-btn-primary");
            }else{
                $(this).addClass("layui-btn-primary");
            }
            ajaxGetSpecInput();
        })    
    });
    {/gt}   
    

    function ajaxGetSpecInput(){
        var spec_arr = {};// 用户选择的规格数组       
        // 选中了哪些属性
        $("#specBox button").each(function(){
            if(!$(this).hasClass('layui-btn-primary')){
                var spec_id = $(this).attr('data-spec_id');
                var item_id = $(this).attr('data-item_id');
                if(!spec_arr.hasOwnProperty(spec_id))
                    spec_arr[spec_id] = [];
                spec_arr[spec_id].push(item_id);
                //console.log(spec_arr);
            }       
        });
        ajaxGetSpecInput2(spec_arr); // 显示下面的输入框    
    }

    function ajaxGetSpecInput2(spec_arr){
        var goods_id = $("input[name='id']").val();
        var jiesuan = $("#jiesuan").val();
        var stock = $("#stock").val();
        var weight = $("#weight").val();
        var wuliuWeight = $("#wuliuWeight").val();
        $.ajax({
            type:'POST',
            data:{spec_arr:spec_arr,goods_id:goods_id,jiesuan:jiesuan,weight:weight,wuliuWeight:wuliuWeight,stock:stock},
            url:"{:url('Goods/ajaxGetSpecInput')}",
            success:function(data){ 
                $("#goods_spec_table2").html('').append(data);
                hbdyg();  // 合并单元格       
                form.render();      
                //渲染上传
                upload.render({
                    elem: '.upBtn',
                    url: '{:url('upload/image')}',
                    acceptMime:'image/*',
                    exts:'jpg|png|gif|jpeg',
                    size:5120,
                    before: function(obj) {
                        layer.load(2); //上传loading
                    },
                    done: function(res) {
                        layer.closeAll(); //关闭loading
                        //如果上传失败
                        if (res.code != 1) {
                            return layer.msg(res.msg);
                        }
                        //上传成功后，返回文件路径
                        thisBtn = this.item;
                        thisBtn.parent().parent().find("input").val(res.data.url);
                    },
                    error: function() {
                    }
                });
            }
        });
        
    }

    // 合并单元格
    function hbdyg() {
        var tab = document.getElementById("spec_input_tab"); //要合并的tableID
        var maxCol = 2, val, count, start;  //maxCol：合并单元格作用到多少列  
        if (tab != null) {
            for (var col = maxCol - 1; col >= 0; col--) {
                count = 1;
                val = "";
                for (var i = 0; i < tab.rows.length; i++) {
                    if (val == tab.rows[i].cells[col].innerHTML) {
                        count++;
                    } else {
                        if (count > 1) { //合并
                            start = i - count;
                            tab.rows[start].cells[col].rowSpan = count;
                            for (var j = start + 1; j < i; j++) {
                                tab.rows[j].cells[col].style.display = "none";
                            }
                            count = 1;
                        }
                        val = tab.rows[i].cells[col].innerHTML;
                    }
                }
                if (count > 1) { //合并，最后几行相同的情况下
                    start = i - count;
                    tab.rows[start].cells[col].rowSpan = count;
                    for (var j = start + 1; j < i; j++) {
                        tab.rows[j].cells[col].style.display = "none";
                    }
                }
            }
        }
    }
    //参数规格end
   
})
</script>
<script type="text/html" id="imageTpl">
    <img src="{{d.picname}}" style="height: 40px;" />
</script>
<script type="text/html" id="barDemo">
    <a href="javascript:void(0)" lay-event="del" class="layui-btn layui-btn-primary layui-btn-xs"><i class="layui-icon layui-icon-delete"></i></a>
</script>