<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">
            
            <div class="layui-input-inline">
                <input type="text" name="order_no" placeholder="{:lang('order-no')}" class="layui-input layui-btn-small">
            </div>

            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="{:lang('order-receive')}/{:lang('order-sender')}" class="layui-input layui-btn-small">
            </div>

            <label class="layui-form-mid">{:lang('date')}</label>
            <div class="layui-input-inline">
                <input type="text" name="createDate" id="createDate" autocomplete="off" class="layui-input" placeholder=" - "/>
            </div> 

            <div class="layui-input-inline">
                <select name="payType">
                    <option value="">{:lang('pay-type')}</option>
                    <option value="1">{:lang('pay-alipay')}</option>
                    <option value="2">{:lang('pay-wechat')}</option>
                    <option value="3">{:lang('pay-point')}</option>
                </select>
            </div>  

            <div class="layui-input-inline">
                <select name="status">
                    <option value="">{:lang('order-status')}</option>
                    <option value="0">{:lang('nav-order-nopay')}</option>
                    <option value="1">{:lang('nav-order-wait')}</option>
                    <option value="2">{:lang('nav-order-send')}</option>
                    <option value="99">{:lang('nav-order-close')}</option>
                </select>
            </div>           

            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
                       
        </div>
    </form>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">   
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">{:lang('refresh')}</button>
            <!-- <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('order/cancel')}" alert="1" alertMsg="确定吗？">取消订单</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('order/del')}" alert="1" alertMsg="删除后不能恢复确定吗，确定吗？">删除</button> -->
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('order/index')}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <!-- <p checkbox="true"/> -->
            <p field="id" title="ID" width="80"/>  
            <p field="memberID" title="{:lang('member-id')}" width="80"/> 
            <p field="order_no" title="{:lang('order-no')}" width="150"/> 
            <p title="{:lang('order-out')}" width="80" templet="#send"/>
            <p field="status" title="{:lang('order-status')}" width="100" templet="#status"/>           
            <p field="total" title="{:lang('order-total')}" width="100"/>
            <p field="wallet" title="{:lang('pay-point')}" width="100"/>
            <p field="money" title="{:lang('order-pay')}" width="100"/>
            <p field="goodsMoney" title="{:lang('order-goods-money')}" width="100"/>
            <p field="payment" title="{:lang('order-payment')}" width="100" />
            <p field="point" title="{:lang('order-point')}" width="100"/>
            <p field="coupon" title="{:lang('order-coupon')}" width="100"/>
            <p field="discount" title="{:lang('order-discount')}" width="100"/>
            <p title="{:lang('pay-type')}" width="100" templet="#pay"/>
            <p title="{:lang('order-receive')}" width="160" templet="#shoujianren"/>
            <p title="{:lang('order-sender')}" width="160" templet="#fajianren"/>            
            <p field="createTime" title="{:lang('date')}" width="180" sort="true"/>
            <p fixed="right" align="center" toolbar="#barDemo" title="{:lang('action')}" width="80"/>
        </div>
        <script type="text/html" id="send">
            {{# if(d.send==0){ }}
            {:lang('order-out-no')}
            {{# }else{ }}
            <span style="color: blue">{:lang('order-out-yes')}</span>
            {{# } }}
        </script>
        <script type="text/html" id="pay">
            {{# if(d.payType==1){ }}
            {:lang('pay-alipay')}
            {{# }else if(d.payType==2){ }}
            {:lang('pay-wechat')}
            {{# }else if(d.payType==3){ }}
            {:lang('pay-point')}
            {{# } }}
        </script>

        <script type="text/html" id="shoujianren">
            {{d.name}}/{{d.tel}}             
        </script>
        <script type="text/html" id="fajianren">
            {{d.sender}}/{{d.senderTel}}                 
        </script>

        <script type="text/html" id="status">
            {{# if(d.status == 0){ }}
            {:lang('nav-order-nopay')}     
            {{# } }}
            {{# if(d.status == 1){ }}
            <span style="color:gold">{:lang('nav-order-wait')}</span>       
            {{# } }}
            {{# if(d.status == 2){ }}
            <span style="color:blue">{:lang('nav-order-send')}</span>        
            {{# } }}
            {{# if(d.status == 3){ }}
            <span style="color:green">{:lang('nav-order-over')}</span>     
            {{# } }}
            {{# if(d.status == 99){ }}
            <span style="color:red">{:lang('nav-order-close')}</span>        
            {{# } }}                
        </script>

        <script type="text/html" id="barDemo">        
            <a class="layui-btn layui-btn-xs" lay-event="view" url="{:url('order/info')}?id={{d.id}}" topWidth="80%" topHeight="80%" topTitle="{:lang('order-detail')}" data-tableId="lay-common-table">{:lang('order-detail')}</a>
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','laydate'],function(){
    var form = layui.form,
        laydate = layui.laydate,
        $ = layui.$;

    laydate.render({
        elem: '#createDate',
        range: true
    });
});
</script>