<style type="text/css">
.face{float: left; margin-right: 15px}
.face img{height: 80px; display: block;}
.face a{display: block; width: 100%; margin-top: 5px}
</style>
<div class="layui-row layui-col-space5">
    <div class="layui-col-md5">
        <fieldset class="layui-elem-field">
            <legend>{:lang('order-goods')}</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <col width="100">
                        <col width="150">
                    </colgroup>
                    <thead>
                    <tr>
                      <th>{:lang('goods-name')}</th>
                      <th>{:lang('number')}</th>
                      <th>{:lang('price')}</th>
                    </tr> 
                    </thead>
                    <tbody>
                        {volist name="goods" id="vo"}
                        <tr>
                            <td>
                                {$vo.name}
                                {notempty name="vo.spec"}
                                <p style="font-size: 12px">{$vo.spec}</p>
                                {/notempty}
                            </td>
                            <td>{$vo.number}</td>
                            <td>{$vo.price}</td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>{:lang('order-detail')}</legend>
            <div class="layui-field-box">                   
                <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-no')}</label>
                        <div class="layui-form-mid">{$list.order_no}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-goods-money')}</label>
                        <div class="layui-form-mid">{$list.goodsMoney}</div>
                    </div>                    
         
                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-payment')}</label>
                        <div class="layui-form-mid">{$list.payment}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-discount')}</label>
                        <div class="layui-form-mid">{$list.discount}</div>
                    </div> 
                      
                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-total')}</label>
                        <div class="layui-form-mid">{$list.total}</div>
                    </div> 

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('pay-point')}</label>
                        <div class="layui-form-mid">{$list.wallet}</div>
                    </div> 

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-pay')}</label>
                        <div class="layui-form-mid" style="color: #f00; font-weight: bold;">{$list.money}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('date')}</label>
                        <div class="layui-form-mid">{$list.createTime|date="Y-m-d H:i:s",###}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('pay-type')}</label>
                        <div class="layui-form-mid">{$list.payType|getPayType}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-intr')}</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid">{$list.intr}</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('order-status')}</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid">{$list|getOrderStatus}</div>
                        </div>
                    </div>        

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">{:lang('order-remark')}</label>
                        <div class="layui-form-mid">{$list.remark}</div>                 
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="lay-common-submit" id="lay-common-submit" value="确认添加" iframe="1" url="{:url('order/info')}">
                    </div>
                    <input type="hidden" name="id" value="{$list.id}">
                </div>
            </div>
        </fieldset>
    </div>

    <div class="layui-col-md7">
        <fieldset class="layui-elem-field">
            <legend>{:lang('order-receive')}</legend>
            <div class="layui-field-box">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('name')}</label>
                        <div class="layui-form-mid">{$list.name}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('tel')}</label>
                        <div class="layui-form-mid">{$list.tel}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('address')}</label>
                        <div class="layui-form-mid">{$list.province}{$list.city}{$list.county}{$list.addressDetail}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('id-number')}</label>
                        <div class="layui-form-mid">{$list.sn|default='无'}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('id-photo')}</label>
                        <div class="layui-input-block">
                            <div class="face">
                                {empty name="list.front"}
                                <img src="{:RES}/image/sn1.png">
                                {else/}
                                <img src="{$list.front}">
                                <a href="{:url('order/image')}?img={$list.front}" class="layui-btn layui-btn-sm">{:lang('download')}</a>
                                {/empty}
                            </div>
                            <div class="face">
                                {empty name="list.back"}
                                <img src="{:RES}/image/sn2.png">
                                {else/}
                                <img src="{$list.back}" />
                                <a href="{:url('order/image')}?img={$list.back}" class="layui-btn layui-btn-sm">{:lang('download')}</a>
                                {/empty}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>{:lang('order-sender')}</legend>
            <div class="layui-field-box">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('name')}</label>
                        <div class="layui-form-mid">{$list.sender}</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">{:lang('tel')}</label>
                        <div class="layui-form-mid">{$list.senderTel}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="layui-elem-field">
            <legend>{:lang('package')}</legend>
            <div class="layui-field-box">
                {volist name="baoguo" id="f"}
                <div class="orderList">
                    {eq name="f.type" value="0"}
                    <div class="hd">{:lang('package')} ID【{$f.id}】 【{:lang('goods-ziti')}】 【{eq name="f.hexiao" value="0"}<span style="color: #f00">{:lang('check-no')}</span>{else/}{:lang('check-yes')}{/eq}】</div>
                    {else/}
                    <div class="hd">{:lang('package')} ID【{$f.id}】 {:lang('id-photo')}【{eq name="f.snStatus" value="0"}<span style="color: #f00">{:lang('upload-no')}</span>{else/}{:lang('upload-yes')}{/eq}】 {$f.kuaidi} {:lang('express-number')}【{$f.kdNo|default="-"}】 【{$list|getOrderStatus}】</div>
                    {/eq}
                    <table class="layui-table" style="margin: 0">
                        <colgroup>
                            <col>
                            <col>           
                            <col>           
                        </colgroup>
                        <thead>
                        <tr>
                            <th>{:lang('goods-name')}</th>
                            <th>{:lang('number')}</th>
                            <th>{:lang('price')}</th>   
                        </tr> 
                        </thead>
                        <tbody>
                            {volist name="f.goods" id="g"}
                            <tr>                        
                                <td>{$g.name}</td>                      
                                <td>{$g.price}</td>
                                <td>{$g.number}</td>
                            </tr>       
                            {/volist}
                        </tbody>
                    </table>     
                    {gt name="f.type" value="0"}                   
                    <div class="fd">  
                        <div class="wuliu">
                            {volist name="f.eimg" id="img"}
                            <a href="javascript:void(0)" class="photo" data-url="{$img}"><img src="{$img}"></a>
                            {/volist}
                            {volist name="f.image" id="img"}
                            <a href="javascript:void(0)" class="photo" data-url="{$img}"><img src="{$img}"></a>
                            {/volist}
                        </div>
                    </div>  
                    {/gt}                    
                </div>
                {/volist}
            </div>
        </fieldset>
    </div>
</div>

<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','myupload'], function() {    
    var $ = layui.$,
    myupload = layui.myupload;
    $("html").css({"background":"#fff"});

    $(".wuliuBtn").click(function(){
        url = $(this).attr("data-url");
        layer.open({
            type: 2,
            title: '运单信息',
            shadeClose: true,
            shade: 0.8,
            area: ["80%", "80%"],
            content: url //iframe的url
        });
    })

    $(".photo").click(function(){
        url = $(this).attr("data-url");
        layer.open({
            type: 1,
            shadeClose: true,
            shade: 0.8,
            area: ["80%", "80%"],
            content: '<img src="'+url+'"/>'
        });
    })

    $(".createBtn").click(function(){
        var id = $(this).attr("data-id");
        layer.confirm("确定要生成运单吗？",function(){
            layer.closeAll();
            var load = layer.load(0,{shade: [0.7, '#000000']});
            data = {id:id};
            $.post("{:url('order/create')}",data,function(res){
                layer.close(load);
                if (res.code==1){
                    layer.alert(res.msg,function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg);
                }
            },"json")
        })
    })

    $(".snBtn").click(function(){
        var id = $(this).attr("data-id");
        layer.confirm("确定要上传身份证吗？",function(){
            layer.closeAll();
            var load = layer.load(0,{shade: [0.7, '#000000']});
            data = {id:id};
            $.post("{:url('order/uploadPhoto')}",data,function(res){
                layer.close(load);
                if (res.code==1){
                    layer.alert(res.msg,function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg);
                }
            },"json")
        })
    })
})
</script>