<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">
            
            <div class="layui-input-inline">
                <input type="text" name="order_no" placeholder="{:lang('order-no')}" class="layui-input layui-btn-small">
            </div>

            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="{:lang('order-receive')}/{:lang('order-sender')}" class="layui-input layui-btn-small">
            </div>

            <label class="layui-form-mid">{:lang('date')}</label>
            <div class="layui-input-inline">
                <input type="text" name="createDate" id="createDate" autocomplete="off" class="layui-input" placeholder=" - "/>
            </div> 

            <div class="layui-input-inline">
                <select name="payType">
                    <option value="">{:lang('pay-type')}</option>
                    <option value="1">{:lang('pay-alipay')}</option>
                    <option value="2">{:lang('pay-wechat')}</option>
                    <option value="3">{:lang('pay-point')}</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <select name="send" id="send">
                    <option value="">{:lang('order-out')}</option>
                    <option value="1">{:lang('order-out-yes')}</option>
                    <option value="0">{:lang('order-out-no')}</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
                       
        </div>
    </form>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">   
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">{:lang('refresh')}</button>
            {eq name="peing" value="1"}
            <button class="layui-btn layui-btn-sm layui-btn-normal tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('order/send')}" alert="1" alertMsg="{:lang('order-out-alert')}">{:lang('order-batch-out')}</button>

            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="toExp" data-tableId="lay-common-table">{:lang("export")}</button>
            {/eq}

            <!-- 
            <button class="layui-btn layui-btn-sm layui-btn-danger tools-btn" data-type="action" data-tableId="lay-common-table" url="{:url('order/del')}" alert="1" alertMsg="删除后不能恢复确定吗，确定吗？">删除</button> -->
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{$url}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            {eq name="peing" value="1"}
            <p checkbox="true"/>
            {/eq}            
            <p field="id" title="ID" width="80"/>  
            <p field="memberID" title="{:lang('member-id')}" width="80"/> 
            <p field="order_no" title="{:lang('order-no')}" width="150"/> 
            <p title="出库" width="80" templet="#sendTpl"/>
            {eq name="cancel" value="1"}
            <p field="status" title="{:lang('order-status')}" width="120" templet="#cancelTpl"/>  
            {else/}
            <p field="status" title="{:lang('order-status')}" width="100" templet="#status"/>  
            {/eq}                     
            <p field="total" title="{:lang('order-total')}" width="100"/>
            <p field="wallet" title="{:lang('pay-point')}" width="100"/>
            <p field="money" title="{:lang('order-pay')}" width="100"/>
            <p field="goodsMoney" title="{:lang('order-goods-money')}" width="100"/>
            <p field="payment" title="{:lang('order-payment')}" width="100" />
            <p field="point" title="{:lang('order-point')}" width="100"/>
            <p field="coupon" title="{:lang('order-coupon')}" width="100"/>
            <p field="discount" title="{:lang('order-discount')}" width="100"/>
            <p title="{:lang('pay-type')}" width="100" templet="#pay"/>
            <p title="{:lang('order-receive')}" width="160" templet="#shoujianren"/>
            <p title="{:lang('order-sender')}" width="160" templet="#fajianren"/>            
            <p field="createTime" title="{:lang('date')}" width="180" sort="true"/>
            {eq name="peing" value="1"}
            <p fixed="right" align="center" toolbar="#barDemo" title="{:lang('action')}" width="140"/>
            {else/}
            <p fixed="right" align="center" toolbar="#barDemo" title="{:lang('action')}" width="80"/>
            {/eq}
        </div>
        <script type="text/html" id="sendTpl">
            {{# if(d.send==0){ }}
            {:lang('order-out-no')}
            {{# }else{ }}
            <span style="color: blue">{:lang('order-out-yes')}</span>
            {{# } }}
        </script>
        <script type="text/html" id="pay">
            {{# if(d.payType==1){ }}
            {:lang('pay-alipay')}
            {{# }else if(d.payType==2){ }}
            {:lang('pay-wechat')}
            {{# }else if(d.payType==3){ }}
            {:lang('pay-point')}
            {{# } }}
        </script>

        <script type="text/html" id="shoujianren">
            {{d.name}}/{{d.tel}}             
        </script>
        <script type="text/html" id="fajianren">
            {{d.sender}}/{{d.senderTel}}                 
        </script>

        <script type="text/html" id="cancelTpl">
            <span style="color:red">{:lang('order-cancel-info')}</span>
        </script>

        <script type="text/html" id="status">
            {{# if(d.status == 0){ }}
            {:lang('nav-order-nopay')}     
            {{# } }}
            {{# if(d.status == 1){ }}
            <span style="color:gold">{:lang('nav-order-wait')}</span>       
            {{# } }}
            {{# if(d.status == 2){ }}
            <span style="color:blue">{:lang('nav-order-send')}</span>        
            {{# } }}
            {{# if(d.status == 3){ }}
            <span style="color:green">{:lang('nav-order-over')}</span>     
            {{# } }}
            {{# if(d.status == 99){ }}
            <span style="color:red">{:lang('nav-order-close')}</span>        
            {{# } }}  
        </script>

        <script type="text/html" id="barDemo">        
            <a class="layui-btn layui-btn-xs" lay-event="view" url="{:url('order/info')}?id={{d.id}}" topWidth="80%" topHeight="80%" topTitle="{:lang('order-detail')}" data-tableId="lay-common-table">{:lang('order-detail')}</a>
            {eq name="peing" value="1"}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit" url="{:url('order/doCancel')}?id={{d.id}}" topWidth="600px" topHeight="240px" topTitle="{:lang('order-cancel')}" data-tableId="lay-common-table">{:lang('order-cancel')}</a>
            {/eq}
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','laydate','table'],function(){
    var form = layui.form,
        laydate = layui.laydate,
        table = layui.table,
        $ = layui.$;

    laydate.render({
        elem: '#createDate',
        range: true
    });

    $("#toExp").click(function(){
        var tableId = $(this).attr('data-tableId');
        var checkStatus = table.checkStatus(tableId),
            checkData = checkStatus.data; //得到选中的数据
        var ids = [];
        for (var i = 0; i < checkData.length; i++) {
            ids.push(checkData[i].id);
        };
        createDate = $("#createDate").val();
        send = $("#send").val();
        window.location.href = '{:url('order/export')}?ids='+ids.join(",")+'&date='+createDate+'&send='+send;
    })
});
</script>